<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.6.1" targetFramework="net461" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net461" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net461" />
  <package id="ExcelLibrary" version="1.2011.7.31" targetFramework="net461" />
  <package id="FolderBrowserDialogEx" version="1.0.0" targetFramework="net461" />
  <package id="ImageProcessor" version="2.9.1" targetFramework="net461" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.8.5" targetFramework="net461" />
  <package id="QRCoder" version="1.4.1" targetFramework="net461" />
  <package id="SpreadsheetLight" version="3.4.11" targetFramework="net461" />
  <package id="Syncfusion.Compression.Base" version="18.2.0.59" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="18.2.0.59" targetFramework="net461" />
  <package id="Syncfusion.Pdf.Wpf" version="18.2.0.59" targetFramework="net461" />
  <package id="Syncfusion.PdfViewer.WPF" version="18.2.0.59" targetFramework="net461" />
  <package id="Syncfusion.Shared.WPF" version="18.2.0.59" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>