<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- License key for MailBee.NET -->
    <!-- Note that MN120-0123456789ABCDEF-0123 is not a real key. Use your key instead. -->
    <add key="MailBee.Global.LicenseKey" value="MN120-0123456789ABCDEF-0123"/>
  </appSettings>
</configuration>